@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', normal;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #C3C49E;
    position: relative;
}

section {
    min-height: 80vh;
    margin: 20px;
    background-color: #524632;
    color: #fff;
    padding: 20px;
}

section > h1 {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > p {
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

main {
    padding: 0 20px 20px;
}

main > div.entrada {
    align-items: flex-end;
}

main > div.entrada > p {
    width: 100%;
    text-indent: 40px;
}

main > div.entrada > p::after {
    content: '|';
    opacity: 0;
    animation: anime .7s infinite;
}

@keyframes anime {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

main > div.entrada > span {
    width: fit-content;
    padding-right: 10px;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10px 0;
}

/* main > div.coisas-que-amo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10px 0;
} */

main > div.coisas-que-amo > ol > li {
    padding: 15px 0;
}

main > div.coisas-que-amo > ol > li:not(.par) {
    text-align: left;
}

main > div.coisas-que-amo > ol > li.par {
    text-align: right;
}

/* main > div.fotos-nossas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10px 0;
} */

/* main > div.fotos-nossas > h3 {
    
} */

main > div.fotos-nossas > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

main > div.fotos-nossas > figure > figcaption {
    text-align: center;
    padding: 8px 0;
}

main > div.fotos-nossas > figure > img {
    width: 200px;
    border: 2px solid #fff;
    border-radius: 10px;
}

main > div.musicas > h3 {
    text-align: center;
}

main > div.musicas > div {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.musicas > div > h6 {
    padding: 30px 0 0;
}

main > div.musicas > div > audio {
    align-self: center;
    padding: 5px;
}

main > p.charada {
    padding: 20px 0;
    text-align: center;
    width: 100%;
    min-height: 100px;
    font-family: 'Macondo', normal;
    font-size: 1.5em;
}

main > p.fim {
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

i {
    position: absolute;
    right: -10px;
    bottom: 30px;
    animation: eyes 3s linear 1s infinite alternate;
}

@keyframes eyes {
    0% {right: -10px;}
    50% {right: 15px;}
    100% {right: 30px;}
}

.remove {
    display: none;
}